{% load user_filters %}
<div class="card m-0" style="border-radius: 0;">
  {% if adding_rate %}
    <h5 class="card-header">Добавить комментарий:</h5>
    <div class="card-body">
      <form method="post"
            action="{% url 'structure:add_comment' persona_id=persona.id department_id=department_id %}">
        {% csrf_token %}
        <div class="form-group mb-2">
        <label for="{{ comment_form.text.id_for_label }}">Текст комментария:</label>
        {{ comment_form.text|addclass:"form-control" }}
    </div>
    <div class="form-group mb-2">
        <label for="{{ comment_form.comment_email.id_for_label }}">Email:</label>
        {{ comment_form.comment_email|addclass:"form-control" }}
    </div>
    <div class="form-group mb-2">
        <label for="{{ comment_form.author.id_for_label }}">Автор:</label>
        {{ comment_form.author|addclass:"form-control" }}
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Отправить</button>
    </div>
      </form>
    </div>
  {% endif %}
</div>
{% for comment in comments %}
  <div class="row  pl-5 m-0 pt-4">
    <div class="col m-0">
      <div class="media pl-5 mb-4">
        <div class="media-body">
          <h5 class="mt-0">
            {{ comment.author }}
          </h5>
          <p class=""><small class="text-muted">
            Комментарий добавлен: {{ comment.created|timesince:now }}
            назад. {{ comment.created }}
          </small></p>
          <p>
            <strong>Комментарий:</strong> {{ comment.text|linebreaksbr }}
          <hr>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
