{% load user_filters %}
<hr class="m-0">
{% for comment in comments %}
  <div class="row m-0">
    <div class="col p-4 m-0">
      <div class="media mb-0">
        <div class="media-body">
          <h5 class="mt-0">
            {{ comment.author }}
          </h5>
          <p class=""><small class="text-muted">
            Комментарий добавлен: {{ comment.created|timesince:now }}
            назад. {{ comment.created }}
          </small></p>
          <p>
            <strong>Комментарий:</strong> {{ comment.text|linebreaksbr }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr class="m-0">
{% endfor %}
