{% load static %}
<footer class="footer">
  <div class="row">
    <div class="col-auto">
      <div class="d-flex justify-content-center" style="height: 200px;">
        <div class="col col-md-8 text-center align-self-center">
          <div class="copyright-info">
            © {% now 'Y' %} Copyright ГБУ "Республиканский онкологический
            диспансер"
          </div>
        </div>
        <div class="col col-md-2 text-center align-self-center">
          <div class="mz-nok-mu">
            <img class="mz-log-img"
                 src="{% static 'img/minzdrav_logo_small.png' %}"
                 alt="mz-logo-sm">
            <p class="">
              НЕЗАВИСИМАЯ ОЦЕНКА КАЧЕСТВА
              УСЛОВИЙ ОКАЗАНИЯ УСЛУГ
              МЕДИЦИНСКИМИ ОРГАНИЗАЦИЯМИ
            </p>
            <a target="_blank"
               href="https://anketa.minzdrav.gov.ru/ambulator/0f7f19c5-dfb1-4534-a304-93756b3d5729">Оценить</a>
          </div>
        </div>
        <div class="col col-md-2 text-center align-self-center">
          <div class="mz-nok-mu">
            <img class="mz-log-img"
                 src="{% static 'img/minzdrav_logo_small.png' %}"
                 alt="mz-logo-sm">
            <p class="text-center align-self-center">
              НЕЗАВИСИМАЯ ОЦЕНКА КАЧЕСТВА
              УСЛОВИЙ ОКАЗАНИЯ УСЛУГ
              МЕДИЦИНСКИМИ ОРГАНИЗАЦИЯМИ
            </p>
            <a target="_blank"
               href="https://anketa.minzdrav.gov.ru/ambulator/0f7f19c5-dfb1-4534-a304-93756b3d5729">Оценить</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>