{% load static %}
<footer class="footer m-o p-2">
  <div class="row m-0 p-0 justify-content-center">
    <div class="d-flex">
      <div class="col col-sm-8  align-self-center ps-5">
        <div class="copyright-info text-left">
          © 2023 - {% now 'Y' %} Copyright ГБУ "Республиканский
          онкологический
          диспансер"
        </div>
        <div class="text-left">
          <p>
            <a href="{% url 'main-page:privacy' %}"
               class="a-footer-text text-dark">
              Политика обработки персональных данных
            </a>
          </p>
        </div>
      </div>
      <div class="col col-sm-4 text-center align-self-center">
        <div class="mz-nok-mu">
          <img class="mz-log-img mb-1"
               src="{% static 'img/minzdrav_logo_small.png' %}"
               alt="mz-logo-sm">
          <p class="">
            НЕЗАВИСИМАЯ ОЦЕНКА КАЧЕСТВА
            УСЛОВИЙ ОКАЗАНИЯ УСЛУГ
            МЕДИЦИНСКИМИ ОРГАНИЗАЦИЯМИ
          </p>
          <a target="_blank"
             href="https://anketa.minzdrav.gov.ru/ambulator/0f7f19c5-dfb1-4534-a304-93756b3d5729">
            Оценить
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>