{% load static %}
<header>
  <div>
    <div class="row p-3 align-items-center">
      <div class="col-3 col-md-2 text-center">
        <a href="{% url 'main-page:index' %}">
          <img class="logos img-fluid" src="{% static 'img/repubcancercenter3.png' %}"
               alt="logo-image">
        </a>
      </div>
      <div class="col-9 col-md-4 pl-lg-0 text-center ">
        <div
          class="d-flex mr-0 ml-lg-0 gburod-docs-head justify-content-start">
          ГБУ Республиканский онкологический диспансер
        </div>
      </div>
      <div class="col-6 col-md-2 p-3">
        <div class="header-info-item item1">
          <div class="header-info-item-text">
            <i class="fas fa-map-marker-alt"></i>
            364029, г. Грозный
            <br>
            ул. Леонова, 81
            <br>
            <a href="{% url 'main-page:about' %}"><i class="bi bi-geo-alt"></i> Схема проезда</a>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-2 p-3">
        <div class="header-info-desc-span">
          <i class="bi bi-clock"></i>
          Режим работы
        </div>
        <div class="header-info-desc-b">8:30 - 17:00</div>
        <div class="header-info-desc-span">выходные:</div>
        <div class="header-info-link-span-2">суббота, воскресенье</div>
      </div>
      <div class="col-6 col-md-2 p-3">
        <div class="header-info-desc-span">
          <i class="bi bi-telephone-inbound-fill"></i>
          Колл-центр:
        </div>
        <div class="header-info-desc-b"> +7 (938) 020-33-33</div>
        <div class="header-info-desc-span">режим приема звонков:</div>
        <div class="header-info-link-span-2">с 8:45 до 17:00 по будням</div>
      </div>
    </div>
    <div class="header-info-item-2 row justify-content-end">
      <div class="m-2">
        <nav class="navbar navbar-expand-lg">
          <button class="navbar-toggler" type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarTogglerDemo02"
                  aria-controls="navbarTogglerDemo02" aria-expanded="false"
                  aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse navbar-elements text-xl-center"
               id="navbarTogglerDemo02">
            <ul class="navbar-nav navbar-custom">
              <li class="nav-item">
                <a
                  class="nav-link {% if request.path == '/' %} active {% endif %}"
                  href="{% url 'main-page:index' %}">
                  Диспансер
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link {% if request.path == '/news/' %} active {% endif %}"
                  href="{% url 'news-posts:news' %}">
                  Новости
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link {% if request.path == '/structure/licenses/' %} active {% endif %}"
                  href="{% url 'structure:licenses' %}">Документы</a>
              </li>
              <li
                class="nav-item {% if request.resolver_match.url_name == 'structures' %} active{% endif %}">
                <a
                  class="nav-link {% if request.path == '/structure/' %} active {% endif %}"
                  href="{% url 'structure:structures' %}">Структура</a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link {% if request.resolver_match.url_name == 'patients' %} active{% endif %}"
                  href="{% url 'main-page:patients' %}">Пациентам</a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link {% if request.resolver_match.url_name == 'about' %} active{% endif %}"
                  href="{% url 'main-page:about' %}">Контакты</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1"
                   aria-disabled="true"></a>
              </li>
                {#                {% include 'includes/user_into.html' %}#}
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
