<ul>
  <li><a href="{% url 'main-page:patients' %}">Порядок обращения в
    диспансер</a></li>
  <li><a href="{% url 'paid-services:services' %}">Платные услуги</a></li>
  <li>
    <a href="{% url 'main-page:diag-research' %}">
      Подготовка диагностическим
      исследованиям
    </a>
    <ul>
      <li><a href="#prepMethods">Подготовка к инструментальным методам исследования</a>
      </li>
      <li><a href="#prepAnaliz">Подготовка к лабораторным методам исследования</a></li>
    </ul>
  </li>
</ul>