{% extends "base.html" %}
{% block title %}Контакты{% endblock title %}
{% block content %}

  <div class="row p-5 m-0 justify-content-center">
    <div class="col-12 col-md-7 " style="height: 50vh;">
      <script type="text/javascript" charset="utf-8" async
              src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac57a14bfe8c7081fd5f817ab6ec3043a89a6a7d1a2670c00b5683f11f285839c&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
    <div class="col-12 col-md-5">
      <h2 class="pb-1">Контактная информация</h2>
      <p><i class="bi bi-geo-alt"></i> Адрес: ул. Леонова, 81,
        Грозный, Россия</p>
      <p><i class="bi bi-telephone-inbound"></i> Телефон колл-центра: +7
        (938) 020-33-33
      </p>
      <p><i class="bi bi-envelope"></i> Email: gburod@bk.ru</p>
      <p><i class="bi bi-clock"></i>
        Часы работы: с 8:30 до 16:30 (по будням)
      </p>
      <hr>
      <h4>Как добраться:</h4>
      <p><i class="bi bi-bus-front"></i> Конечная остановка маршрута №27</p>
    </div>
  </div>
{% endblock %}