{% extends "base.html" %}
{% block title %}Контакты{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row py-5 justify-content-center">
      <div class="col-md-7">
        <div class="w-100 h-100" style="position:relative;overflow:hidden;"><a
          href="https://yandex.ru/maps/org/respublikanskiy_onkologicheskiy_dispanser/1369428883/?utm_medium=mapframe&utm_source=maps"
          style="color:#eee;font-size:12px;position:absolute;top:0px;">Республиканский
          онкологический диспансер</a><a
          href="https://yandex.ru/maps/1106/grozniy/category/dispensary/184105988/?utm_medium=mapframe&utm_source=maps"
          style="color:#eee;font-size:12px;position:absolute;top:14px;">Диспансер
          в Грозном</a><a
          href="https://yandex.ru/maps/1106/grozniy/category/specialized_hospital/53437260559/?utm_medium=mapframe&utm_source=maps"
          style="color:#eee;font-size:12px;position:absolute;top:28px;">Специализированная
          больница в Грозном</a>
          <iframe
            src="https://yandex.ru/map-widget/v1/?ll=45.737533%2C43.300142&mode=poi&poi%5Bpoint%5D=45.736914%2C43.300161&poi%5Buri%5D=ymapsbm1%3A%2F%2Forg%3Foid%3D1369428883&z=18.36"
            width="560" height="400" frameborder="1" allowfullscreen="true"
            style="position:relative;"></iframe>
        </div>
      </div>
      <div class="col-auto col-md-5">
        <h2 class="pb-1">Контактная информация</h2>
        <p><i class="fas fa-map-marker-alt"></i> Адрес: ул. Леонова, 81,
          Грозный, Россия</p>
        <p><i class="fas fa-phone"></i> Телефон колл-центра: +7 (938) 020-33-33
        </p>
        <p><i class="fas fa-envelope"></i> Email: gburod@bk.ru</p>
        <p>
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
               fill="currentColor" class="bi bi-clock"
               viewBox="0 0 16 16">
            <path
              d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
            <path
              d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
          </svg>
          Часы работы: с 8:30 до 16:30 (по будням)
        </p>
        <hr>
        <h4>Как добраться:</h4>
        <p>Конечная остановка маршрута №27</p>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
{% endblock %}