{% extends "base.html" %}
{% block title %}Пациентам{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-auto py-5">
        <h2>Порядок обращения в диспансер</h2>
      </div>
    </div>
    <div class="row py-2">
      <div class="col-lg-3 ">
        {% include 'includes/patients_nav_list.html'%}
      </div>
      <div class="col-lg-9 p-1">
        <div
          class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
          <div class="col-lg-6 px-0">
            <h1 class="display-4 fst-italic">Уважемые пациенты!</h1>
            <p class="lead my-3">При первичном обращении за консультацией к
              врачу-онкологу нашей
              клиники, нужно иметь с собой паспорт, медицинский полис ОМС,
              СНИЛС
              и
              направление формы 057/у-04 от врача поликлиники с места
              жительства.</p>
          </div>
        </div>
        <div>
          <h3>1. Визит к участковому врачу</h3>
          <p>При подозрении на онкологическое заболевание необходимо обратиться
            к
            участковому терапевту по месту жительства.</p>
          <h3>2. Направление к специалисту</h3>
          <p>Направление к специалисту После осмотра и сбора жалоб терапевт при
            необходимости направит к врачу-специалисту той же поликлиники
            (эндокринологу, гастроэнтерологу, гинекологу и т.п.) или выпишет
            направление на прием в онкологический кабинет (ПОК) или Центр
            амбулаторной онкологической помощи (ЦАОП).</p>
          <h3>3. Направление в региональный онкологический диспансер</h3>
          <p>Врач-онколог осуществляет запись пациента на прием к
            врачу-онкологу
            в
            медицинскую организацию в соответствии со Схемой территориального
            закрепления медицинских организаций государственной системы
            здравоохранения Чеченской Республики, оказывающих
            специализированную
            медицинскую помощь в стационарных условиях и в условиях дневного
            стационара пациентам с онкологическими заболеваниями и участвующих
            в
            реализации территориальной программы государственных гарантий
            бесплатного оказания гражданам медицинской помощи, утверждаемой
            министерством здравоохранения Чеченской Республики (далее -
            министерство) и выдачу пациенту направления с назначенной датой и
            временем приема, согласно записи для уточнения диагноза (в случае
            невозможности установления диагноза, включая распространенность
            онкологического процесса и стадию заболевания), определения тактики
            лечения, а также в случае наличия медицинских показаний для
            оказания
            специализированной, в том числе высокотехнологичной, медицинской
            помощи.</p>
          <h3>4. Подтверждение диагноза и лечение</h3>
          <p>Подтверждение диагноза и лечение Больные с подтвержденными
            злокачественными новообразованиями (далее — ЗНО) получают
            онкологическую медицинскую помощь в плановом порядке
            в соответствии со Схемой маршрутизации пациентов с подтвержденным
            диагнозом ЗНО на плановый хирургический этап лечения, утверждаемой
            министерством.</p>
          <h3>5. Выработка тактики лечения ЗНО на консилиуме врачей</h3>
          <p>При подтверждении диагноза ЗНО, лечащий врач ГБУ "Республиканский
            онкологический диспансер представляет пациентов на консилиум
            (подкомиссию
            врачебной комиссии - консультативное бюро), с участием
            врачей-онкологов хирургического и химиотерапевтического профилей и
            врача-радиотерапевта для выработки тактики лечения.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}