{% extends 'base.html' %}
{% block title %}ГБУ Республиканский онкологический диспансер{% endblock title %}
{% block content %}
  {% load static %}
  <div class="container">
    <div class="row">
      {% include 'includes/gosuslugi_widet.html' %}
    </div>
    <div class="row justify-content-center pt-1">
      <div class="col-12 col-sm-8">
        <div>
          <div class="">
            <div class="card" style="width: auto;">
              <div class="card-body">
                <h5 class="card-title">
                  Сотрудниками УФСБ России по ЧР проведена работа по
                  недопущению
                  нарушений коррупционной направленности
                </h5>
              </div>
              <img src="{% static 'img/protiv_corupcii.png' %}"
                   class="card-img-top" alt="...">
              <div class="card-body">

                <p class="card-text">
                  Сотрудниками УФСБ России по Чеченской Республике проведена
                  работа по недопущению нарушений коррупционной направленности.
                  Коррупция является существенной системной проблемой,
                  характерной
                  не только для России, но и для большинства стран мира. В этой
                  связи одной из первостепенных задач в последние годы,
                  поставленных на государственном уровне в России, стало
                  противодействие коррупции.

                  Понятие коррупции определено Федеральным законом от 25
                  декабря
                  2008 г. № 273-ФЗ «О противодействии коррупции» (далее —
                  Федеральный закон № 273-ФЗ), в соответствии с которым она
                  представляет собой злоупотребление служебным положением, дачу
                  взятки, получение взятки, злоупотребление полномочиями,
                  коммерческий подкуп либо иное незаконное использование
                  физическим
                  лицом своего должностного положения вопреки законным
                  интересам
                  общества и государства в целях получения выгоды в виде денег,
                  ценностей, иного имущества или услуг имущественного
                  характера,
                  иных имущественных прав для себя или для третьих лиц либо
                  незаконное предоставление такой выгоды указанному лицу
                  другими
                  физическими лицами, а также совершение указанных деяний от
                  имени
                  или в интересах юридического лица.
                </p>
                <div class="text-center">
                  <a href="http://gp7grozny.ru/2023/08/04/2251/"
                     class="btn btn-primary t"
                     style="background-color: #87CEEB; border: 1px solid #87CEEB;">
                    Перейти на сайт
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
  </div>
{% endblock %}
