{% extends "base.html" %}
{% block title %}Подготовка к диагност исследованиям{% endblock title %}
{% block content %}
  <div class="container">
    {#    <div class="row justify-content-center">#}
    {#      <div class="col-auto py-3">#}
    {#        <h2>Подготовка к диагностическим исследованиям</h2>#}
    {#      </div>#}
    {#    </div>#}
    <div class="row pt-3">
      <div class="col-lg-3 ">
        {% include 'includes/patients_nav_list.html' %}
      </div>
      <div class="col-lg-9 p-1 pb-5">
        <div class="pb-1" id="prepMethods">
          <h3>Подготовка к инструментальным методам исследования</h3>
        </div>
        <button class="accordion" onclick="toggleDetails('uzi')">УЗИ ОРГАНОВ
          БРЮШНОЙ ПОЛОСТИ
        </button>
        <div id="uzi" class="details">
          <ul>
            <li>Исследование проводится натощак — за 6 часов до процедуры
              прекратить прием пищи и жидкости.
            </li>
            <li>За 3 дня до предстоящего исследования рекомендована легкая
              диета: исключаются продукты, усиливающие перистальтику кишечника
              и газообразование (мучные изделия, черный хлеб, сырые овощи и
              фрукты, бобовые, молоко, соки, газированные и алкогольные
              напитки).
            </li>
            <li>В течение 3-х дней до исследования необходимо принимать
              эспумизан по 1 таб. 3 раза в день.
            </li>
            <li>За 3 дня до обследования нельзя проводить рентгенологические
              исследования органов ЖКТ с пероральным контрастированием.
            </li>
            <li>За сутки до исследования нельзя проводить гастроскопию,
              колоноскопию, клизмы.
            </li>
          </ul>
        </div>

        <button class="accordion" onclick="toggleDetails('uzi-mp')">
          УЗИ МОЧЕВОГО ПУЗЫРЯ
        </button>
        <div id="uzi-mp" class="details">
          <ul>
            <li>Перед исследованием необходимо наполнить мочевой пузырь – за 1
              час до исследования выпить 1 л. воды без газа и не мочиться.
            </li>
          </ul>
        </div>

        <button class="accordion" onclick="toggleDetails('truzi')">
          ТРАНСРЕКТАЛЬНОЕ УЛЬТРАЗВУКОВОЕ ИССЛЕДОВАНИЕ ПРЕДСТАТЕЛЬНОЙ ЖЕЛЕЗЫ
          (ТРУЗИ)
        </button>
        <div id="truzi" class="details">
          <ul>
            <li>За 3-4 часа до исследования необходимо освободить прямую кишку
              (сделать клизму, лекарственную микро клизму).
            </li>
            <li>Перед исследованием необходимо наполнить мочевой пузырь – за 1
              час до исследования выпить 1 л. воды без газа и не мочиться.
            </li>
          </ul>
        </div>

        <button class="accordion" onclick="toggleDetails('tvuzi')">
          ТРАНСВАГИНАЛЬНОЕ УЛЬТРАЗВУКОВОЕ ИССЛЕДОВАНИЕ ОРГАНОВ МАЛОГО ТАЗА
          (ТВУЗИ)
        </button>
        <div id="tvuzi" class="details">
          <ul>
            <li>Перед исследованием опорожнить мочевой пузырь.</li>
          </ul>
        </div>

        <button class="accordion" onclick="toggleDetails('uzi-mj')">
          УЗИ МОЛОЧНЫХ ЖЕЛЕЗ
        </button>
        <div id="uzi-mj" class="details">
          <ul>
            <li>Для женщин репродуктивного возраста исследование желательно
              проводить на 6-11-й день цикла (считая от первого дня начала
              менструации).
            </li>
            <li>Для женщин в менопаузе исследование можно проводить в любое
              удобное время.
            </li>
          </ul>
        </div>

        <button class="accordion" onclick="toggleDetails('mammographiya')">
          МАММОГРАФИЯ
        </button>
        <div id="mammographiya" class="details">
          <ul>
            <li>Для женщин репродуктивного возраста исследование желательно
              проводить с 6-го по 11-й день менструального цикла.
            </li>
            <li>Для женщин в менопаузе исследование можно проводить в любое
              удобное время.
            </li>
            <li>В день исследования рекомендовать пациенту не использовать
              дезодоранты на основе талька и мази на основе цинка.
            </li>
          </ul>
        </div>

        <button class="accordion" onclick="toggleDetails('rentgen')">
          РЕНТГЕНОСКОПИЯ ПИЩЕВОДА, ЖЕЛУДКА И ДВЕНАДЦАТИПЕРСТНОЙ КИШКИ
        </button>
        <div id="rentgen" class="details">
          <ul>
            <li>Исследование выполняют строго натощак, в день исследования
              нельзя принимать пищу, жидкость, курить.
            </li>
            <li>Прием лекарственных препаратов перед исследованием согласовать
              с врачом, назначавшим данные лекарственные препараты.
            </li>
            <li>Накануне исследования – ранний легкий ужин, не позже 20:00.
            </li>
            <li>Накануне исследования нельзя есть продукты, вызывающие
              метеоризм – капусту, бобовые, свежий хлеб, выпечку, сладости и
              так далее.
            </li>
          </ul>
        </div>

        <button class="accordion" onclick="toggleDetails('irrigospiya')">
          ИРРИГОСКОПИЯ (исследование толстой кишки)
        </button>
        <div id="irrigospiya" class="details">
          <ul>
            <li>За 3 дня до исследования необходимо соблюдать диету с низким
              содержанием клетчатки, газообразующих продуктов.
            </li>
            <li>Накануне исследования утром – легкий завтрак (согласно списку
              разрешенных продуктов), до 13:00 – обед (также согласно списку
              разрешенных продуктов), ужин – только разрешенные жидкости
              (прозрачные бульоны, чай, сок без мякоти, вода, безалкогольные
              неокрашенные напитки). Прием твердой пищи полностью исключить.
            </li>
            <li>Выполнить очищение толстой кишки накануне и в день исследования
              (очистительная клизма или Фортранс – 2-3 пакета на 2 литра воды
              выпивать в течение 2 часов равномерно (см. инструкцию)).
            </li>
            <li>Утром в день исследования после окончания подготовки можно
              выпить сладкий чай, прозрачные жидкости. Прекратить прием всех
              жидкостей следует не позже, чем за 2 часа до исследования.
            </li>
          </ul>
        </div>

        <button class="accordion" onclick="toggleDetails('urographiya')">
          ОБЗОРНАЯ И ЭКСКРЕТОРНАЯ УРОГРАФИЯ
        </button>
        <div id="urographiya" class="details">
          <ul>
            <li>Необходимо иметь результаты биохимического анализа крови
              (креатинин), выполненного не ранее, чем за 14 дней до
              исследования.
            </li>
            <li>За 3 дня до исследования рекомендовано соблюдение диеты с
              исключением продуктов, усиливающих перистальтику кишечника и
              газообразование (мучные изделия, черный хлеб, сырые овощи и
              фрукты, бобовые, молоко, соки, газированные напитки и другие).
            </li>
            <li>Выполнить очищение толстой кишки накануне и в день исследования
              (очистительная клизма или Фортранс – 2-3 пакета на 2 литра воды
              выпивать в течение 2 часов равномерно (см. инструкцию)).
            </li>
            <li>Также в день исследования прием всех лекарственных препаратов
              рекомендуется согласовать с лечащим врачом.
            </li>
          </ul>
        </div>

        <button class="accordion" onclick="toggleDetails('mrt-bp')">
          МРТ ОРГАНОВ БРЮШНОЙ ПОЛОСТИ
        </button>
        <div id="mrt-bp" class="details">
          <ul>
            <li>Необходимо иметь результаты биохимического анализа крови
              (креатинин), выполненного не ранее, чем за 14 дней до
              исследования.
            </li>
            <li>Обязательно узнать у пациента о наличии металлоконструкций,
              стентов, кардиостимуляторов в теле (существуют MPT-совместимый
              электрокардиостимуляторы, металлоконструкции и стенты, при их
              наличии пациенту необходимо предоставить сертификат на предмет
              совместимости с МРТ, в других случаях наличие металлоконструкций,
              стентов, кардиостимуляторов в теле является противопоказанием для
              проведения исследования).
            </li>
            <li>За 3 дня до предстоящего исследования рекомендована легкая
              диета: исключаются продукты, усиливающие перистальтику кишечника
              и газообразование (мучные изделия, черный хлеб, сырые овощи и
              фрукты, бобовые, молоко, соки, газированные и алкогольные
              напитки).
            </li>
            <li>При повышенном газообразовании следует принимать препараты
              адсорбенты (активированный уголь из расчета 1 табл. на 10 кг
              массы тела).
            </li>
            <li>Исследование проводится натощак, допускается легкий прием пищи
              (не позже, чем за 3-4 часа до исследования). В день исследования
              исключить кофе, печенье, белый хлеб, яйца в любом виде.
            </li>
            <li>За 30 мин. до исследования необходимо принять спазмолитическое
              средство (2-3 таблетки «Но-шпа», «Дротоверин»).
            </li>
          </ul>
        </div>

        <button class="accordion" onclick="toggleDetails('mrt-mt')">
          MPT ОРГАНОВ МАЛОГО ТАЗА
        </button>
        <div id="mrt-mt" class="details">
          <ul>
            <li>Необходимо иметь результаты биохимического анализа крови
              (креатинин), выполненного не ранее, чем за 14 дней до
              исследования.
            </li>
            <li>Обязательно узнать у пациента о наличии металлоконструкций,
              стентов, кардиостимуляторов в теле (существуют MPT-совместимый
              электрокардиостимуляторы, металлоконструкции и стенты, при их
              наличии пациенту необходимо предоставить сертификат на предмет
              совместимости с МРТ, в других случаях наличие металлоконструкций,
              стентов, кардиостимуляторов в теле является противопоказанием для
              проведения исследования).
            </li>
            <li>За 3 дня до предстоящего исследования рекомендована легкая
              диета: исключаются продукты, усиливающие перистальтику кишечника
              и газообразование (мучные изделия, черный хлеб, сырые овощи и
              фрукты, бобовые, молоко, соки, газированные и алкогольные
              напитки).
            </li>
            <li>Исследование проводится натощак, допускается легкий прием пищи
              (не позже, чем за 3-4 часа до исследования). В день исследования
              исключить кофе, печенье, белый хлеб, яйца в любом виде.
            </li>
            <li>За 30 мин. до исследования необходимо принять спазмолитическое
              средство (2-3 таблетки «Но-шпа», «Дротоверин»).
            </li>
            <li>При исследовании мочевого пузыря перед исследованием необходимо
              не мочиться в течение 2–3 часов и выпить 0,3-0,4 л негазированной
              жидкости за 1 час до процедуры.
            </li>
          </ul>
        </div>


        <button class="accordion" onclick="toggleDetails('kt-bp-mt')">
          КТ ОРГАНОВ БРЮШНОЙ ПОЛОСТИ И МАЛОГО ТАЗА С В/В КОНТРАСТИРОВАНИЕМ
        </button>
        <div id="kt-bp-mt" class="details">
          <ul>
            <li>Необходимо иметь результаты биохимического анализа крови
              (креатинин), выполненного не ранее, чем за 14 дней до
              исследования.
            </li>
            <li>Легкий прием пищи за 2 часа перед исследованием.</li>
          </ul>
        </div>

        <button class="accordion" onclick="toggleDetails('ekg')">
          ЭКГ
        </button>
        <div id="ekg" class="details">
          <ul>
            <li>В день исследования необходимо выспаться, отказаться от
              утренних упражнений, принять душ и не наносить на тело лосьоны и
              кремы.
            </li>
            <li>Легкий прием пищи, без кофе, чая и энергетических напитков за
              1,5-2 часа до исследования.
            </li>
            <li>Не позднее, чем за 1,5-2 часа до исследования исключить курение
              и физические нагрузки.
            </li>
            <li>Все лекарственные препараты пациент должен принимать без
              изменений.
            </li>
          </ul>
        </div>

        <button class="accordion" onclick="toggleDetails('echo-kg')">
          ЭХО-КГ
        </button>
        <div id="echo-kg" class="details">
          <ul>
            <li>Не позднее, чем за 1,5-2 часа до исследования – прием пищи без
              кофе, чая, энергетических напитков.
            </li>
            <li>За 1,5-2 часа до исследования пациенту рекомендуется не курить
              и не выполнять физических упражнений.
            </li>
          </ul>
        </div>

        <button class="accordion" onclick="toggleDetails('egds')">
          Эзофагогастродуоденоскопия (ЭГДС), колоноскопия
        </button>
        <div id="egds" class="details">
          <p>
            Начинается процедура подготовки кишечника с правильной безшлаковой
            диеты за 2–3 дня до обследования (исключить жаренную, копченую,
            острую, газообразующую пищу).

          <ul><strong>РАЗРЕШЕНО:</strong>
            <li>Бульон</li>
            <li>Отварную курицу, постную рыбу</li>
            <li>Нежирный сыр, яйца</li>
            <li>Чай, кофе без молока и сливок</li>
            <li>Отварной рис, картофель, макароны</li>
          </ul>

          <ul><strong>ЗАПРЕЩЕНО:</strong>
            <li>Овощи, фрукты</li>
            <li>Грибы</li>
            <li>Молоко и кисломолочные продукты</li>
            <li>Мясо</li>
            <li>Черный хлеб</li>
            <li>Мелкие семечки, косточки, орехи</li>
          </ul>
          Накануне исследования последний прием пищи должен быть не позднее
          15.00 (легкий перекус), после 15.00 разрешается пить простую
          воду/бульон.
          Отменить препараты железа и активированный уголь.
          При наличии запоров, пациенту необходимо принимать до дня
          подготовки к исследованию обычные для него слабительные препараты,
          отменять их до начала подготовки не рекомендуется. Желательно
          добиться накануне начала подготовки полноценного стула.
          Способы подготовки:
          ЭЗИКЛЕН – принимается накануне исследования согласно инструкции (1
          флакон днем и 1 флакон через 2 часа – прием после 15.00)
          ИЛИ
          ФОРТРАНС – принимается накануне исследования, 1 пакетик разводится
          на 1 литр воды на 20 кг веса пациента (прием после 15.00)
          ИЛИ
          МОВИПРЕП – принимается накануне исследования, 1 саше разводится на
          1 литр воды. В упаковке содержится 2 саше А и 2 саше Б. Необходимо
          принять 2 саше (А+Б). Дополнительно необходимо выпить литр любой
          жидкости без мякоти.
          В день исследования не пить, не кушать, лекарства не принимать
          (разрешаются УТРОМ ТОЛЬКО таблетки ЕЖЕДНЕВНОГО приема от давления с
          небольшим количеством воды)
          </p>
        </div>

        <div class="pt-3" id="prepAnaliz">
          <h3>Подготовка к лабораторным методам исследования</h3>
        </div>

        <button class="accordion" onclick="toggleDetails('')">

        </button>
        <div id="" class="details">
          <ul>
            <li></li>
            <li></li>
          </ul>
        </div>

        <button class="accordion" onclick="toggleDetails('')">

        </button>
        <div id="" class="details">
          <ul>
            <li></li>
            <li></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  </div>
{% endblock %}