{% extends "base.html" %}
{% block title %} {{ depart.title }}{% endblock title %}
{% block content %}
  {% load thumbnail %}
  <div class="container">
    <div class="px-1">
      <div class="row justify-content-center">
        <div class="col-auto py-5">
          <h2>{{ department.title }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <ul>
            {% for depart in departs|dictsort:"title" %}
              <li>
                <a class="{% if depart.id == current_page_id %}
                    active{% endif %}"
                   href="{% url 'structure:depart_detail' depart.id %}">{{ depart.title }}</a>
              </li>
              <hr class="m-1">
            {% endfor %}
          </ul>
        </div>
        <div class="col-lg-9 p-1">
          {% include 'includes/persona_card.html' %}
          <div class="row justify-content-center">
            {% include 'includes/paginator.html' %}
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
  </div>
  </div>
{% endblock %}