{% extends 'base.html' %}
{% load static %}
{% block title %}Документы{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row justify-content-center">
            <div class="col-3 col-md-4 py-3">
              <img class="doc-image w-100" src="{% static 'img/8055.jpg' %}" alt="doc-image">
            </div>
      <div class="gburod-docs col-9 col-md-6 pt-5 ">
        <h3>
          Документы
        </h3>
        <p>
          ГБУ "Республиканского онкологического диспансера"
        </p>
      </div>
    </div>
    <hr>
    <div class="row justify-content-center">
      <div class="col-auto mb-3">
        <h3>Лицензии</h3>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col col-md-4">
        <div class="card-deck">
          {% for license in licenses %}
            <div class="card mb-4 text-center">
              <div class="card-header">
                <h6 class="card-title">{{ license.title }}</h6>
              </div>
              <div class="card-body">
                <a class="preview-link" href="{{ license.file.url }}"
                   data-toggle="modal" data-target="#pdfModal{{ license.pk }}">
                  <i class="fa fa-file-pdf-o"></i>
                  <p>открыть</p>
                </a>
              </div>
            </div>
            <div class="modal fade" id="pdfModal{{ license.pk }}" tabindex="-1"
                 role="dialog"
                 aria-labelledby="pdfModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg"
                   role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title"
                        id="pdfModalLabel">{{ license.title }}</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <embed src="{{ license.file.url }}" type="application/pdf"
                           width="100%" height="600px">
                  </div>
                </div>
              </div>
            </div>
            {% empty %}
            <div class="alert alert-warning" role="alert">
              Нет лицензий.
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
