{% extends "base.html" %}
{% block title %}Структура{% endblock title %}
{% block content %}
  {% load thumbnail %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-auto py-5">
        <h2>Сотрудники организации</h2>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="depart-col d-flex flex-column">
          <ul class="list-inline">
            {% for depart in depart|dictsort:"title" %}
              <li><a class="{% if depart.id == current_page_id %}
          active{% endif %}" href="{% url 'structure:depart_detail' depart.id %}">{{ depart.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="card-deck">
            {% for persona in page_obj %}
              <div class="card p-0 mb-3">
                {% thumbnail persona.image "960x600" crop="center" upscale=True as im %}
                  <img class="card-img-top" src="{{ im.url }}" alt="Card image cap">
                {% endthumbnail %}
                <div class="card-body">
                  <h5
                    class="card-title">{{ persona.first_name }} {{ persona.last_name }} {{ persona.patronymic_name }}</h5>
                  <p class="card-text">
                    Должность: {{ persona.seat }}
                    <br>
                    {% if persona.academic is not None and persona.academic is not False %}
                    Ученная степень: {{ persona.academic }}
                    <br>
                    {% endif %}
                    Отделение: {{ persona.department }}
                    <br>
                  {% if persona.speciality is not None %}
                    {{ persona.speciality }}
                  {% endif %}
                  </p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"><a href="{% url 'structure:persona_detail' persona.pk %}" class="">Подробно</a></small>
                </div>
              </div>
              {% if forloop.counter|divisibleby:3 and not forloop.last %}
                </div>
                </div>
                <div class="row">
                <div class="card-deck">
              {% endif %}
            {% endfor %}
            </div>
            </div>
      </div>
    </div>
  <div class="row">
    {% include 'includes/paginator.html' %}
  </div>
  <br>
  </div>
{% endblock %}