{% extends "base.html" %}
{% block title %}Структура{% endblock title %}
{% block content %}
  {% load thumbnail %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-auto py-5">
        <h2>Структура ГБУ "Республиканского онкологического диспансера"</h2>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for depart in departs|dictsort:"title" %}
        <div class="col">
          <div class="card dep-cards" id="dep-cards">
            <div class="card-body">
              <h5 class="card-title">{{ depart.title }}</h5>
            </div>
            <div class="card-footer">
              <a class="dep-card-a btn btn-primary"
                 href="{% url 'structure:depart_detail' depart.id %}">
                Подробнее
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
