html body {
    height: 100% !important;
    margin: 0;
    padding: 0;
    width: 100% !important;
    max-width: 100% !important;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;
}

@media (max-width: 320px) {
    body {
        min-width: 320px !important;
    }
}

.container {
    background-color: white;
    /*flex: 1;*/
}

.content {
    flex: 1;
}

.fakeimg {
    height: 350px;
    width: 300px;
    background: #aaa;
}

.logos {
    width: 100%;
    height: 100px;
    object-fit: contain;
}

.nav {
    font-size: larger;
}

.navbar {
    background-color: #87CEEB;
    text-transform: uppercase;
}

.navbar-elements {
    display: flex;
    justify-content: center;
}

hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.checked {
    color: orange;
}

.raiting-btn {
    background-color: inherit !important;
    border: 0 !important;
}

.rating .fa-star:hover ~ .fa-star {
    color: black;
}

.header-info-item-2 {
    margin-left: 0px;
    background-color: #87CEEB;
    font-size: 1.5em;
}

.navbar-nav a.active {
    font-weight: bold;
    background-color: #87CEEB;
    color: #6a7175;
}

.header-info-desc-span {
    font-size: 14px;
    color: #7d7d7d;
}

.header-info-desc-b {
    font-weight: bold;
    margin-bottom: 3px;
}

.header-info-link-span-2 {
    font-size: 14px;
}

.header-info-item-text {
    font-size: 15px;
}

.btn.btn-secondary {
    background-color: #87CEEB;
    color: black;
}

.dep-cards {
    min-height: 10rem;
}

.dep-card-a {
    color: black;
    background-color: #87CEEB;
    border: 1px solid #87CEEB;
    border-radius: 0
}

.dep-ul-list {
    list-style-type: none !important;
}

.pk-ul {
    list-style-type: disc;
    list-style-position: inside;
}

div.first-head {
    justify-content: center !important;
}

/*Стили страницы документы*/

.fa.fa-file-pdf-o {
    font-size: 32px !important;
}

.gburod-docs-head h3 {
    font-size: 1em;
}

.gburod-docs-head {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #4C6A85;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

@media (max-width: 827px) {
    .gburod-docs-head {
        font-size: 1em;
    }
}


h3 {
    font-family: 'Roboto', sans-serif;
    color: #4C6A85;
}

.news-item {
    margin: 0 auto;
    text-align: justify;
}

.news-item h2 {
    text-align: center;
}

.news-item p {
    display: inline;
}

/* Выпадающий лист подготовки к диагност. исследованиям */
.accordion {
    background-color: #87CEEB;
    color: #000000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.1em;
    transition: 0.5s;
    border-bottom: 1px solid #7d7d7d; /* Граница в нижней части кнопки */
}

.accordion:hover,
.accordion:focus {
    background-color: #007ACC;
}

.active, .accordion:hover {
    background-color: #007ACC;
}

.details {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    border-left: 2px solid #0056b3;
    border-right: 2px solid #0056b3;
    border-bottom: 2px solid #0056b3;
}

.details h5 {
    padding-top: 10px;
}

.details ul {
    list-style: none; /* Убрать маркеры */
    padding: 0;
    margin: 0;
}

.details li {
    border-bottom: 1px solid #dddddd;
    padding: 5px 0;
}

.details li:last-child {
    border-bottom: none;
}

/* Up Button */
#scrollBtn {
    position: fixed;
    bottom: 130px;
    right: 20px;
    z-index: 99;
    width: 50px;
    height: 50px;
    background-color: #007ACC;
    color: #fff;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s, transform 0.3s;
    font-size: 1.8em;
}

/*#scrollBtn span {*/
/*    display: block;*/
/*    font-size: 2.5em; !* Размер текста *!*/
/*    !*margin-top: -5px; !* Выравнивание текста *!*!*/
/*}*/

#scrollBtn:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

@media (max-width: 767px) {
    #scrollBtn {
        display: none;
    }
}

.partners-org img {
    height: 66px;
    width: auto;
}

/* Footer style */
.footer {
    background-color: #4682B4; /* Цвет фона футера */
    height: auto; /* Высота футера */
    margin-top: auto; /* Автоматический отступ сверху */
    color: #eeeeee;
}

.footer a {
    font-weight: bold;
}

.copyright-info {
    font-size: 1em;
}

/* -------------------- */
/*баннеры мз по оценке качества мед услуг*/
.mz-nok-mu img.mz-log-img {
    width: auto;
    height: 60px;
}

.mz-nok-mu p {
    font-size: 0.7em;
    margin-bottom: 0px;
}

.mz-nok-mu a {
    color: #eeeeee !important;
    font-size: 1em;
}

/* -------------------- */
