html body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body structure-card-btn {
    color: black;
    background-color: #87CEEB;
    border: 1px solid #87CEEB;
    border-radius: 0px
}

@media (max-width: 390px) {
    body {
        min-width: 390px !important;
    }
}

.fakeimg {
    height: 200px;
    width: auto;
    background: #aaa;
}

.logos {
    width: 100%;
    height: 100px;
    object-fit: contain;
}



.nav {
    font-size: larger;
}

.navbar {
    background-color: #87CEEB;
    text-transform: uppercase;
    color: #b6bdc2;
}

.navbar-elements {
    display: flex;
    justify-content: center;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.checked {
    color: orange;
}

.raiting-btn {
    background-color: inherit !important;
    border: 0 !important;
}

.rating .fa-star:hover ~ .fa-star {
    color: black;
}

.header-info-item-2 {
    margin-left: 0px;
    background-color: #87CEEB;
    font-size: 1.2em;
}

li a.active {
    font-weight: bold;
    color: #6a7175;
}

.header-info-desc-span {
    font-size: 12px;
    color: #7d7d7d;
}

.header-info-desc-b {
    font-weight: bold;
    margin-bottom: 3px;
}

.header-info-link-span-2 {
    font-size: 12px;
}

.header-info-item-text {
    font-size: 13px;
}

.btn.btn-secondary {
    background-color: #87CEEB;
    color: black;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none !important;
}

div.first-head {
    justify-content: center !important;
}

/*Стили страницы документы*/

.fa.fa-file-pdf-o {
    font-size: 32px !important;
}

.gburod-docs h3 {
    font-size: 1.6em;
}

.gburod-docs {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #4C6A85;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

h3 {
    font-family: 'Roboto', sans-serif;
    color: #4C6A85;
}




/*footer*/

footer.footer {
    background-color: #4682B4 !important;
    height: 200px;
    color: #eeeeee;
}

.copyright-info {
    font-size: 1.2em;
}

/*баннеры мз по оценке качества мед услуг*/
.mz-nok-mu img.mz-log-img {
    width: auto;
    height: 60px;
}

.mz-nok-mu p {
    font-size: 0.7em;
    margin-bottom: 0px;
}

.mz-nok-mu a {
    color: #eeeeee!important;
    font-size: 1em;
}
