{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Новости{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row justify-content-center pt-3">
      <div class="col text-center">
        <h1>Новости</h1>
      </div>
    </div>
    <div class="row justify-content-center pt-2">
      <div class="col-12 col-sm-8">
        <div class="row justify-content-center">
          {% if page_obj %}
            {% for news in page_obj %}
              {% include 'includes/news_card_short.html' %}
            {% endfor %}
            </div>
            {% include 'includes/paginator.html' %}
          {% else %}
            <p>Нет опубликованных новостей.</p>
          {% endif %}
      </div>
    </div>
  </div>
{% endblock %}