{% extends "base.html" %}
{% load thumbnail %}
{% block title %}{{ news.title|truncatechars:20 }}{% endblock title %}
{% block content %}

  <div class="container mt-5">
    <div class="card mb-3" style="">
      <div class="row g-0">
        <div class="col m-4">
          {% if news.image %}
        <div class="col-auto">
          <img src="{{ news.image.url }}"
               class="img-fluid"
               width="80%">
        </div>
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ news.title }}</h5>
            <p class="card-text">
              {{ news.content|safe }}
            </p>
            <p class="card-text">
              <div class="mb-1 text-muted">
          <small class="text-muted">
            <strong>
              Дата публикаций:
            </strong>
            {{ news.pub_date|date:"d-m-Y" }}
          </small>
          </div>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}